* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6C930;
    font-size: 12px;
    margin: 0 20px;
    color: #543861;
    font-family: 'Sniglet', cursive;
}

header {
    width: 100%;
    text-align: center;
    margin: 20px auto 50px;
}

img {
    max-height: 40vh;

}

input {
    padding: 5px;
    font-family: 'Sniglet', cursive;
    font-size: 10px;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    font-size: 18px;
    margin: 10px;
}

h2 {
    font-size: 14px;
    margin: 10px;
}

h4 {
    color: #E93E68
}

button {
    margin: 5px;
    padding: 5px;
    border: solid 1px black;
    border-radius: 5px;
    background-color: #60CABE;
    font-family: 'Sniglet', cursive;
}

.btn-submit {
    background-color: #E93E68;
}

.clicked {
    border: solid 5px #E93E68;
}

article {
    width: 40%;
    padding: 10px;
    margin: 5px;
    border: solid 1px #60CABE;
}

article div {
    display: flex;
    flex-direction: column;
}

.alert {
    width: 50%;
    position: relative;
    top: -300px;
    left: 50%;
    transform: translateX(-50%);
    padding: 50px 0;
    background-color: #E93E68;
    color: #543861;
    font-size: 20px;
    text-align: center;
}

.display_none {
    display: none;
}

.check {
    width: 100%;
    margin-bottom: 10px;
}

@media (max-width:600px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    article {
        width: 90%;
    }
}